fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.29
psycopg2-binary==2.9.9

pydantic>=2.7.4
pydantic-settings==2.7.0

python-jose[cryptography]==3.3.0
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# LangChain
langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-google-genai==2.1.8
langsmith==0.4.14

protobuf>=6.31.1,<8.0.0